.songItem{
    padding: 25px 20px;
    margin-bottom: 15px;
    background: #f6f6f6;
    position: relative;
}
.description{
    margin:10px 0px;
    font-weight: 300;
    max-width: 70%;
}
.linkButton{
    display: inline-block;
    text-decoration: none;
    margin-top: 15px;
    padding: 8px 20px;
    background: #0080FF;
    border:1px solid #0080FF;
    color:#fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .8rem;
    cursor: pointer;
    transition:0.3s;
    border:2px solid #0080FF;
    &:hover{
        color:#555;
        background:white
    }
         
}
.orangeLinkButton{
    @extend .linkButton;
    background: #FF7F50;
    border-color:#FF7F50;
    
}
    

.deleteButton{
    height: 25px;
    width: 25px;
    background:transparent;
    transition:0.2s;
    border:none;
    position: absolute;
    top:10px;
    display: flex;
    justify-content: center;
    align-items:center;
    outline:none;
    cursor: pointer;
    right: 20px;
    &:before{
        content:'';
        height:18px;
        width:2px;
        display:block;
        position: absolute;
        background:#0080FF;
        transform:rotate(45deg);

    }&:after{
             content:'';
        height:18px;
        width:2px;
        display:block;
        position: absolute;
        background:#0080FF;
        transform:rotate(-45deg);

    }
    &:hover{
        transform:scale(1.2);
    }
    @media only screen and (max-width: 768px){
    top:5px;
    right: 5px;
    }   
}

input.inputRange {
    -webkit-appearance: none;
    width: 300px;
    height: 10px;
    border-radius: 5px;
    background: #ccc;
    outline: none;
    
    &:active::-webkit-slider-thumb {
      background: #e06161;
    }
    
 
}
.buttonGroup{
    display: flex;
    justify-content: space-between;
}
.songTitle{
    &:before{
           font-family: "Font Awesome 5 Free";
             content: "\f001";
             margin-right: 10px;
             display: inline-block;
              padding-right: 3px;
             vertical-align: middle;
             color:#0080FF;
              font-weight: 900;
    }
}