.header{
 margin-bottom: 50px;
 background-color:#0080FF;
 padding: 10px 0px;
 @media only screen and (max-width: 768px){
    margin-bottom: 30px;
 }
}
.headerContainer{
     width: 100%;
 max-width: 1200px;
 margin:auto;
 display: flex;
justify-content: space-between;
@media only screen and (max-width: 768px){
    flex-direction: column;
}
}
.logo{
     color:#fff;
     padding: 10px 15px;
     font-size: 1.5rem;
}
.navBar{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
    @media only screen and (max-width: 768px){
    flex-direction: column;
    height: 0;
    opacity: 0;
    transition:0.2s;
}
  
}
.navBar.active{
	height: 200px;
	opacity: 1;
}
ul{
    margin:0px;
    padding:0px;
}
.addSongButton{
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
     padding: 10px 20px;
     background: #0080FF;
     border:none;
     outline: none;;
     cursor: pointer;
     text-decoration: none;
     color:white;
     transition:0.3s;
     text-transform: uppercase;
            &:hover{
                	color:#FF7F50
            }
}