@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');
*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
font-family: 'Montserrat', sans-serif
}
a{
  text-decoration:none;
}

.main{

h1{
  text-align:center;
  margin-bottom: 25px;
      &:after{
        content:'';
        width:100px;
        margin:auto;
        display: block;
        margin-top: 15px;
        background:#0080FF;
        height: 3px;
    }
}
}
input, textarea{
  font-family: 'Montserrat', sans-serif
}